@charset "utf-8";
/* CSS Document */

#navigation_page{ width: 100%; float: left; position: relative; height: 45px; margin-top: 10px; margin-bottom: 10px; }
#navigation_box{ width: 100%; display: block; margin-right: auto; margin-left: auto; clear: both; }
#navigation { width: 100%; float: left; padding: 0px; display: block; z-index: 1000; position: relative; clear: both; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.navigation_box{ width: 100%;  }

#divBg {  position: relative; margin: 0px; padding-top: 0px; padding-bottom: 0px;  }
#divMenu { position: absolute; overflow: hidden; margin-right: 20px; margin-left: 20px; }
#divArrowLeft { height: 35px; cursor: pointer; display: block; position: absolute; width: 20px; VERTICAL-ALIGN: bottom; left: 0px; background-image: url(../images/icon_l-1.png); background-repeat: no-repeat; background-position: left -19px; z-index: 1; margin: 0px; padding: 0px; }
#divArrowLeft:hover { background-image: url(../images/icon_l-1.png); background-repeat: no-repeat; background-position: 0px -100px; }
#divArrowRight { height: 35px; cursor: pointer; display: block; position: absolute; width: 20px; background-image: url(../images/icon_r-1.png); background-repeat: no-repeat; background-position: left -19px; right: 0px; margin: 0px; padding: 0px; }
#divArrowRight:hover { background-image: url(../images/icon_r-1.png); background-repeat: no-repeat; background-position: 0px -100px; }

/* css_tabs */
#tabs_1 { display: block; float: left; width: 1000%; _width: 100%; margin: 0px; padding: 0px; }
#tabs_1 ul { white-space:nowrap; list-style:none; float: left; clear: both; position: relative; left: 0px; right: 0px; padding: 0px; margin: 0px; }
#tabs_1 li { text-decoration:none; height: 35px; font-style: normal; font-weight: normal; float: left; clear: right; display: table; position: relative; background-image: url(../images/icon_line.png); background-repeat: no-repeat; background-position: right center; padding-right: 10px; padding-left: 10px; }
#tabs_1 li a, #tabs_1 li a:link, #tabs_1 li a:visited { text-decoration:none; color: #333; height: 35px; padding: 0px; cursor: pointer; display: block; float: left; margin: 0px; }
#tabs_1 li a strong{ text-decoration:none; font-style: normal; font-weight: normal; display: block; height: 35px; float: left; padding-right: 4px; padding-left: 4px; }
#tabs_1 li a strong span{ font-size: 16px; margin: 0px; display: block; white-space: nowrap; padding: 0px; float: left; line-height: 32px; }

#tabs_1 li a:hover{ color:#036; text-decoration:none; }
#tabs_1 li a:hover strong{ color:#036; }

#tabs_1 li.line_box{ width: 20px; background-image: none; }

/* 下拉式選單 */
#submenu{ padding:0px; clear: both; z-index: 350; float: left; margin-top: 35px; margin-right: 0px; margin-bottom: 0px; margin-left: -10px; }
#submenu .tabs_top{ position: absolute; z-index: 300; background-image: url(../images/tabs_1_li_a_h.png); height: 17px; width: 28px; top: 35px; background-repeat: no-repeat; background-position: left top; }

#topmu1,#topmu2,#topmu3,#topmu4,#topmu5,#topmu6,#topmu7,#topmu8,#topmu9,#topmu10{ display:none; margin: 0px; padding: 0px; clear: both; float: left;  }
.group_t{ margin:0px; width: 280px; clear: both;  background-repeat:repeat; background-position: left top; display: block; float: left; padding: 8px; position: relative; }
.group_t:before {
    border-color:  transparent transparent  rgba(0,  0,  0,  0.5) transparent; 
    border-style: solid solid solid; 
    border-width: 8px; 
    top: -8px;
    content: '';
    height: 0px;
    left: 25px; 
    position: absolute;
    width: 0px;
}
.group_t:after {
    border-color: transparent transparent  rgba(255,  255,  255,  1.0) transparent;
    border-style: solid solid solid solid; 
    border-width: 8px; 
    top: -7px;
    content: '';
    height: 0px;
    left: 25px; 
    position: absolute;
    width: 0px;
}

.group_t .tabs_2{
	background: rgba(255,  255,  255,  1.0);
	width: 100%; 
	display: block; 
	float: left; 
	clear: both; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin: 0px;
	border:double 1px rgba(0,  0,  0,  0.5);
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px; 
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px; 
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px; 
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px; 
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
overflow: hidden;
-moz-box-shadow: 2px  2px  4px  rgba(0,  0,  0,  0.3);
-webkit-box-shadow: 2px  2px  4px   rgba(0,  0,  0,  0.3);
box-shadow: 2px  2px  4px   rgba(0,  0,  0,  0.3);
 }
.group_t .tabs_2 ul.tabs_2_ul{ width: 100%; list-style:none; display: block; clear: both; float: left; margin: 0px; padding-top: 1px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.group_t .tabs_2 li.tabs_2_li{ color:#FFF; line-height:normal; list-style-type:none; display:block; text-decoration:none; margin:0px; width: 100%; padding: 0px; float: left; clear: both; }


.sub_navigation_box{ width: 100%; clear: both; float: left; }
.sub_navigation_box .navigation_img{ width: 100%; clear: both; float: left; margin-bottom: 10px; background-image: url(../images/white_alpha_9.png); padding: 1px; display: none; }
.sub_navigation_box a.navigation_title{ color: #000; padding: 0px; clear: both; width: 100%; display: block; float: left; line-height: normal; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; font-weight: bold; position: relative; }
.sub_navigation_box a.navigation_title font{ font-size: 15px; line-height: 22px; padding: 0px; float: left; display: block; font-weight: normal; margin: 0px; }

.group_t .tabs_2 li a{ display: none; }

.group_t .tabs_2 li a.navigation_title,
.group_t .tabs_2 li a.navigation_title:link, 
.group_t .tabs_2 li a.navigation_title:visited{ color:#333; line-height:normal; list-style-type:none; display:block; text-decoration:none; overflow:hidden; margin:0px; padding-top: 8px; padding-right: 0px; padding-bottom: 8px; padding-left: 0px; clear: both; list-style-image: none; float: left; width: 100%; }
.group_t .tabs_2 li a.navigation_title font{ font-size: 15px; padding-left: 15px; padding-right: 15px; display: block; line-height: 1.3em; }
.group_t .tabs_2 li:hover a{  }
.group_t .tabs_2 li a.navigation_title:hover{ text-decoration:none; background-color: rgba(0,  0,  0,  0.8); color: #FFF; /*opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);*/ }
.tabs_2_d{ margin-top:0px; position:relative; height:9px; }

.sub_navigation_box .navigation_list{ display: none;}
.sub_navigation_box .navigation_list .navigation_link{ display: none;}
.sub_navigation_box .navigation_list .navigation_link a{display: none;}
.sub_navigation_box .navigation_list .navigation_link a:before { display: none;}
.sub_navigation_box .navigation_list .navigation_link font{ }

.sub_navigation_box .navigation_more_box{display: none;}
.sub_navigation_box .navigation_more_box a{display: none;} 
.sub_navigation_box .navigation_more_box a:before{display: none;}
